h1 {
    font-size: 14px;
    color:#033980;
    font-family: 'PT Serif';
   
}

body {
    background-color: rgba(43, 43, 43, 0.6);

}

.submitbutton{
    font: 15px;
    color:cadetblue;
    font-family: 'Roboto';
}

.bannerimg {
width: 1000px;
height: 600px;
display:block; 
margin-left:auto;
margin-right:auto;
}

@media (max-width:350px){
  .bannerimg {
      width:200px;
      height:400px;
      display:block;
      margin-right:auto;
      margin-left:auto;
  }

  .submitbutton{
      font:10px;
      color:red;
  }

  h1{
      color:yellow;
      font-size:20px;
      display:block;
      margin-right:auto;
      margin-left:auto;
  }
}